<div class="container-fluid">
  <div class="row">
  
    {{#items}}
      <div class="col-sm-3">
        <h2>{{title}}</h2>
        
        <span>{{description}}</span>
      </div>
      <div class="col-sm-6">
       <p>{{description}}</p>
      <img src="{{image}}" width="100%"> </img>
      </div>
      <div class="col-sm-3">
      
      </div>
    {{/items}}
    
  </div>
</div>   
